* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a5a5a;
    min-height: 100vh;
}

.calculator-container {
    width: 300px;
    background-color: #121212;
    border-radius: 20px;
}

.display-container {
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #202020;
}

.buttons-container>button {
    width: 60px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    background-color: #2e2e2e;
}

.buttons-container>button:active {
    transform: scale(.9, .9);
}

#display-result {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: white;
    overflow-x: auto;
    overflow-wrap: break-word;
}

.number {
    color: white;
}

#clear {
    color: red;
}

#equals {
    color: green;
}

.operator {
    color: orange;
}